In [38]:
import pandas as pd
from sklearn import preprocessing
import seaborn as sns
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import numpy as np
from matplotlib import pyplot as plt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline

In [74]:
items = pd.read_csv("..\\data\\items.csv")
holiday_events = pd.read_csv("..\\data\\holidays_events.csv")
stores = pd.read_csv("..\\data\\stores.csv")
oil = pd.read_csv("..\\data\\oil.csv")
transactions = pd.read_csv("..\\data\\transactions.csv",parse_dates=['date'])

df_train = pd.read_csv("..\\data\\train_small.csv", dtype={'onpromotion': bool}, parse_dates=["date"])
df_test = pd.read_csv("..\\data\\test_small.csv",dtype={'onpromotion': bool}, parse_dates=["date"])

In [137]:
# df_train = pd.read_csv("C:\\Users\\yiqin\\Dropbox\\UCD\\18Winter\\452 Machine Learning\\pre-assign-data\\train_2017.csv", 
#                        dtype={'onpromotion': bool}, parse_dates=["date"])
# df_train = df_train.loc[df_train.date>=pd.datetime(2017,7,1)]
# df_train = pd.read_csv(
#     'train.csv', usecols=[1, 2, 3, 4, 5],
#     dtype={'onpromotion': bool},
#     converters={'unit_sales': lambda u: np.log1p(
#         float(u)) if float(u) > 0 else 0},
#     parse_dates=["date"],
#     skiprows=range(1, 66458909)  # 2016-01-01
# )
# df_test = pd.read_csv("test.csv",dtype={'onpromotion': bool}, parse_dates=["date"]).set_index(['store_nbr', 'item_nbr', 'date'])
# df_2017 = df_train.loc[df_train.date>=pd.datetime(2017,1,1)]
# df_2017.head()

               date  store_nbr  item_nbr  unit_sales  onpromotion
35229871 2017-01-01         25     99197    0.693147        False
35229872 2017-01-01         25    103665    2.079442        False
35229873 2017-01-01         25    105574    0.693147        False
35229874 2017-01-01         25    105857    1.609438        False
35229875 2017-01-01         25    106716    1.098612        False

## Items
question: how to lengend the color in marker instead of in trace1/2? if plot it separtely by trace1 and 2, how to combine them instead of trace1 and then trace 2?

In [4]:
items.head(3)

temp_df = items.groupby(['family', 'perishable']).size().reset_index().set_index("family").sort_values(by = [0])
trace1 = go.Bar(
    y=temp_df[0],
    x=temp_df.index,
    name = "perishable",
    marker=dict(
        color=temp_df["perishable"],
        colorscale = 'Portland',
        reversescale = False
    ),
    orientation='v'
)

layout = dict(
    title='Counts of items per family category',
     width = 1000, height = 500,
    yaxis=dict(showgrid=False,showline=False,showticklabels=True),
    showlegend = True
    )

fig1 = go.Figure(data=[trace1])
fig1['layout'].update(layout)
py.iplot(fig1, filename='plots')

   item_nbr     family  class  perishable
0     96995  GROCERY I   1093           0
1     99197  GROCERY I   1067           0
2    103501   CLEANING   3008           0

In [5]:
temp_df = items.groupby(['family', 'perishable']).size().reset_index().set_index("family").sort_values(by = [0])
trace1 = go.Bar(
    y=temp_df[temp_df["perishable"].isin([1])][0],
    x=temp_df[temp_df["perishable"].isin([1])].index,
    name = "perishable",
    orientation='v'
)
trace2 = go.Bar(
    y=temp_df[temp_df["perishable"].isin([0])][0],
    x=temp_df[temp_df["perishable"].isin([0])].index,
    name = "not perishable",
    orientation='v'
)

layout = dict(
    title='Counts of items per family category',
     width = 1000, height = 500,
    yaxis=dict(showgrid=False,showline=False,showticklabels=True),
    showlegend = True
    )

fig1 = go.Figure(data=[trace1,trace2])
fig1['layout'].update(layout)
py.iplot(fig1, filename='plots')

## Store

In [108]:
stores.head(3)

   store_nbr   city      state type  cluster
0          1  Quito  Pichincha    D       13
1          2  Quito  Pichincha    D       13
2          3  Quito  Pichincha    D        8

## Oil

In [17]:
oil.head(3)
trace = go.Scatter(
    name='Oil prices',
    x=oil['date'],
    y=oil['dcoilwtico'].dropna(),
    mode='lines',
    line=dict(color='rgb(20, 15, 200, 0.8)'),
    fillcolor='rgba(0, 0, 216, 0.3)',
    fill='tonexty' )

data = [trace]

layout = go.Layout(
    yaxis=dict(title='Daily Oil price'),
    title='Daily oil prices from Jan 2013 till July 2017',
    showlegend = False)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='pandas-time-series-error-bars')

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97

# Data Processing

In [91]:
def df_lbl_enc(df):
    for c in df.columns:
        if df[c].dtype == 'object':
            lbl = preprocessing.LabelEncoder()
            df[c] = lbl.fit_transform(df[c])
    return df

items_enc = df_lbl_enc(items)
stores_enc = df_lbl_enc(stores)

In [93]:
holiday_events= holiday_events[holiday_events["locale"]=="National"][["date","transferred"]]

train = pd.merge(df_train, items_enc, how='left', on=['item_nbr'])
train = pd.merge(train, stores_enc, how='left', on=['store_nbr'])
train = pd.merge(train, transactions, how='left', on=['date','store_nbr'])
train = pd.merge(train, holiday_events, how = 'left', on=['date'])
train = pd.merge(train, oil, how='left', on=['date'])

# test = pd.merge(df_test, items_enc, how='left', on=['item_nbr'])
# test = pd.merge(test, stores_enc, how='left', on=['store_nbr'])
# test = pd.merge(test, transactions, how='left', on=['date','store_nbr'])
# test = pd.merge(test, holiday_events, how = 'left', on=['date'])
# test = pd.merge(test, oil, how='left', on=['date'])

train = train.iloc[:,:-1]
#test = test.iloc[:,:-1]
train.head(3)
#test.head(3)

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,family,class,perishable,city,state,type,cluster,transactions,transferred,dcoilwtico
0,120642911,2017-07-01 00:00:00,1,99197,2.0,False,12,1067,0,18,12,3,13,1362,NaN,NaN
1,120642912,2017-07-01 00:00:00,1,103520,2.0,False,12,1028,0,18,12,3,13,1362,NaN,NaN
2,120642913,2017-07-01 00:00:00,1,103665,11.0,False,5,2712,1,18,12,3,13,1362,NaN,NaN

,id,date,store_nbr,item_nbr,onpromotion,family,class,perishable,city,state,type,cluster,transactions,transferred,dcoilwtico
0,125497040,2017-08-16 00:00:00,1,96995,False,12,1093,0,18,12,3,13,NaN,NaN,NaN
1,125497041,2017-08-16 00:00:00,1,99197,False,12,1067,0,18,12,3,13,NaN,NaN,NaN
2,125497042,2017-08-16 00:00:00,1,103501,False,7,3008,0,18,12,3,13,NaN,NaN,NaN

In [98]:
def df_transform(df):
    df['year'] = df['date'].dt.year
    df['mon'] = df['date'].dt.month
    df['day'] = df['date'].dt.day
    df['dayofweek'] = df['date'].dt.dayofweek
    df['onpromotion'] = df['onpromotion'].apply(lambda x: 1 if x == True else 0)
    df['perishable'] = df['perishable'].apply(lambda x: 1 if x ==0 else 1.25)
    df = df.fillna(-1)
    return df

In [99]:
df = df_transform(train)
df.head(2)

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,family,class,perishable,city,state,type,cluster,transactions,transferred,mon,day,dayofweek,year
0,120642911,2017-07-01,1,99197,2.0,0,12,1067,1.25,18,12,3,13,1362,-1,7,1,5,2017
1,120642912,2017-07-01,1,103520,2.0,0,12,1028,1.25,18,12,3,13,1362,-1,7,1,5,2017

# Model

In [96]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

col = ["year","mon","day","dayofweek",""]
df_x = df[]

In [ ]:
rf = RandomForestRegressor(n_estimators=50)

In [25]:
promo_2017_train = df_train.set_index(["store_nbr", "item_nbr", "date"])[["onpromotion"]].unstack(level=-1).fillna(False)
promo_2017_train = promo_2017_train.xs("onpromotion",axis=1,drop_level=True)
promo_2017_train.head(3)

date                2017-01-01  2017-01-02  2017-01-03  2017-01-04  \
store_nbr item_nbr
1         99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False

date                2017-01-05  2017-01-06  2017-01-07  2017-01-08  \
store_nbr item_nbr
1         99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False

date                2017-01-09  2017-01-10     ...      2017-01-21  \
store_nbr item_nbr                             ...
1         99197          False       False     ...           False
          103520         False       False     ...           False
          103665         False       False     ...           False

date                2017-01-22  2017-01-23  2017-01-24  2017-01-25  \
store_nbr item_nbr
1         99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False

date                2017-01-26  2017-01-27  2017-01-28  2017-01-29  2017-01-30
store_nbr item_nbr
1         99197          False       False       False       False       False
          103520         False       False       False       False       False
          103665         False       False       False       False       False

[3 rows x 30 columns]

In [27]:
promo_2017_test = df_test[["onpromotion"]].unstack(level=-1).fillna(False)
promo_2017_test = promo_2017_test.xs("onpromotion",axis=1,drop_level=True)
promo_2017_test.head(3)

                                      id  onpromotion
store_nbr item_nbr date
1         96995    2017-08-16  125497040        False
          99197    2017-08-16  125497041        False
          103501   2017-08-16  125497042        False

date                2017-08-16
store_nbr item_nbr
1         96995          False
          99197          False
          103501         False